@font-face {
    font-family: 'HaginCaps';
    src: url('../public/fonts/HaginCapsThin-Thin.woff2') format('woff2'),
        url('../public/fonts/HaginCapsThin-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HaginCaps';
    src: url('../public/fonts/HaginCapsMedium-Medium.woff2') format('woff2'),
        url('../public/fonts/HaginCapsMedium-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}