.json-viewer {
    font-family: monospace;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 4px;
    padding: 1rem;
    overflow: auto;
    max-height: 600px;
}

.pretty-json {
    margin: 0;
}

.pretty-json .key {
    color: #0451a5;
}

.pretty-json .string {
    color: #a31515;
}

.pretty-json .number {
    color: #098658;
}

.pretty-json .boolean {
    color: #0000ff;
}

.pretty-json .null {
    color: #808080;
}