:host {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: var(--primary-color);
        font-size: 64px;
        line-height: auto;
        position: relative;
        text-align: center;

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgb(237, 188, 81);
            background: linear-gradient(90deg, rgba(237, 188, 81, 0) 0%, rgba(237, 188, 81, 1) 50%, rgba(237, 188, 81, 0) 100%);
            width: 100%;
            height: 1px;
            content: '';
            display: block;
        }
    }

    h2 {
        color: var(--primary-color);
        font-size: 20px;
        text-align: center;
        line-height: auto;
        position: relative;
        display: block;
        letter-spacing: 4px;
        margin-top: 5px;
    }
}

img {
    height: 100%;
    object-fit: cover;
    width: 100px;
}